/modernfix/
/backups/
/config/byg/backups/
/config/jei/world/
/config/tempad_client.json
/config/worldstripper/
/config/world_gen_export/
/config/libraryferret_1.properties
/config/bettervillage_1.properties
/config/oculus.properties
/crash-reports/
/downloads/
/ESM/
/icon.png
/journeymap/
/local/
/logs/
/minecraftinstance.json
/modernfix/
/mods/
/options.txt
/patchouli_books/
/patchouli_data.json
/resourcepacks/
/saves/
/schematics/
/screenshots/
/psd
/usercache.json
/usernamecache.json
/TrashSlotSaveState.json
/servers.dat
/servers.dat_old
/reauth.toml
/rhino.local.properties
/hs_err_pid16216.log
/hs_err_pid20816.log
/.curseclient
/techresourcesTextures/
/tconplanner/
/skyblock_exports/
/quests_structures
/kubejs/exported/
/kubejs/README.txt